@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Wildcard selector, overrides browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
  }

/* General styling */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 {
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

p {
  font-family: 'Inter', Arial, sans-serif;
}

figcaption {
  font-family: 'Inter', Arial, sans-serif;
}

a {
  font-family: 'Inter', Arial, sans-serif;
}

.redacted {
  color: #030303;
  background-color: #030303;
}

/* Login Page */

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1.5em;
}

#SCP-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
}

#login-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 3em;
  opacity: 0;
}

#login-form {
  opacity: 0;
  font-family: 'Inter', Arial, sans-serif;
  padding-top: 1em;
  padding-bottom: 3em;
}

#login-form h3, #login-form p {
  padding-bottom: 1em;
}

#login-form input {
  border: 1px solid #030303;
  text-align: center;
}

#login-button {
  font-family: 'Inter', Arial, sans-serif;
  height: 2em;
  width: 30%;
  align-self: center;
  cursor: pointer;
  border: 1px solid #030303;
}

#disclaimer {
  opacity: 0;
  width: 80%;
}

/* Header */

header {
  background-color: #ffffff;
  border-bottom: 3px solid black;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Burger animation CSS, from Alvaro Trigo, link in README */

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 25px;
  left: 12px;
  width: 22px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #030303;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #030303;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

/* End of burger animation CSS */

#title {
  text-align: center;
  padding-left: 19px;
  padding-top: 9px;
}

#title h1 {
  font-size: 1.8em;
}

#logo {
  padding-top: 5px;
  padding-right: 5px;
}

#pic {
  height: auto;
  width: 50px;
}

/* Main */

main {
  display: flex;
  margin-top: 63px;
  flex: 1 0 auto;
  flex-direction: column;
  padding: 8px 10px;
}

#index {
  margin-top: 0px;
  padding: 0px 8px;
}

/* Welcome page */

#welcome-div1 {
  margin: 0 5px;
}

#reference-image {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

#MalO {
  cursor: pointer;
  height: auto;
  width: 100%;
}

#MalO-figure {
  width: 80%;
  border: 2px solid #030303;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#MalO-text {
  font-size: 0.8em;
}

#welcome-div2 h2, #welcome-div2 p {
  padding-bottom: .5em;
}

#next-page {
  padding-top: 5px;
  align-self: flex-end;
}

#next-page-button {
  font-family: 'Inter', Arial, sans-serif;
  height: 2em;
  align-self: center;
  cursor: pointer;
  border: 1px solid #030303;
  padding-left: 3px;
  padding-right: 3px;
}

#next-page-button a {
  text-decoration: none;
  color: #030303;
}

/* SCPs page */

.SCP-info {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.SCP-info p {
  padding-bottom: 3px;
}

.SCP-figure {
  width: 80%;
  border: 2px solid #030303;
  box-shadow: 0 1px 6px rgba(0,0,0,.25);
}

.SCP-figure figcaption {
  padding-left: 4px;
}

.SCP-image {
  width: 100%;
  height: auto;
}

/* Help form style and appearance */
#help-form {
  position: fixed;
  font-size: 1.5em;
  top: 40%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9e9ed;
  display: none;
  border: 2px solid #030303;
}

#help-form ul {
  letter-spacing: 1px;
  list-style-type: none;
}

#help-menu > li {
  font-family: 'Inter', Arial, sans-serif;
  color: #030303;
  font-size: 1em;
  padding-bottom: 3px;
  padding-left: 2px;  
}

#help-menu p {
  text-decoration: underline;
}

#help-menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Help menu toggle */
#help-toggle:checked~form {
  display: block;
}

#help-toggle {
  display: none;
}

#help-toggle-label {
  font-size: 2rem;
  padding: .4rem .6rem;
  color: #ffffff;
  border-radius: 25%;
  background-color: #030303;
  cursor: pointer;
}

/* Responsibilities page */

.information {
  padding-bottom: 5px;
}

#wrong-letter {
  cursor: pointer;
  font-style: italic;
}

/* Breaches page */

.threats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  width: 80%;
  margin-left: 10%;
}

.threats figure {
  margin-bottom: 1em;
}

.empty {
  padding: 5px 5px;
}

#captcha {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;
  padding-bottom: 1em;
}

#captcha-image {
  width: 100%;
}

#captcha-text {
  width: 40%;
  display: none;
  align-self: flex-start;
  border: 1px solid #030303;
  padding-left: 3px;
  padding-right: 3px;
  font-family: 'Inter', Arial, sans-serif;
  text-align: center;
}

#captcha-submit {
  width: 40%;
  display: none;
  align-self: flex-end;
  font-family: 'Inter', Arial, sans-serif;
  cursor: pointer;
  border: 1px solid #030303;
  padding-left: 3px;
  padding-right: 3px;
}

/* Secret page */

#killswitch {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 90%;
}

#alive-div {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

#alive {
  font-family: 'Inter', Arial, sans-serif;
  height: 2em;
  align-self: center;
  cursor: pointer;
  border: 1px solid #030303;
  padding: 3px;
  
}

#killswitch-text {
  text-align: center;
  border: solid 2px #030303;
  padding: 1px 15px;
  box-shadow: 0 1px 3px #030303;
  font-size: 0.8em;
}

#killswitch-text2 {
  text-align: center;
  border: solid 2px #030303;
  padding: 1px 15px;
  box-shadow: 0 1px 3px #030303;
  font-size: 0.8em;
  opacity: 0;
}

#SCP-info-secret {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  opacity: 0;
}

#declaration {
  font-size: 0.8em;
  padding-top: 5px;
  opacity: 0;
}

/* Congrats page */

#download-text {
  text-align: center;
}

#id {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#id form {
  justify-content: center;
  align-self: center;
}

#id-card {
  width: 80%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #030303;
  border-radius: 3%;
}

#download {
  font-family: 'Inter', Arial, sans-serif;
  height: 2em;
  align-self: center;
  cursor: pointer;
  border: 1px solid #030303;
  padding: 3px;
  margin-top: 6px;
}

#download a {
  text-decoration: none;
  color: #030303;
}

#conclusion {
  padding-bottom: 2em;
  text-align: center;
}

/* 404 */

#error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1.5em 1.5em;
}

#error-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 70%;
}

#error-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 3em;
}

/* Footer */

footer {
  border-top: 3px solid black;
  padding-left: 5px;
  padding-bottom: 5px;
}

footer p {
  font-size: 0.7em;
}

footer a {
  color: #030303;
}

/* Media queries */

/* Large or landscape phones */
@media screen and (min-width: 576px) {
  #logo {
    padding-right: 20px;
  }

  #login {
    padding: 0 1.5em 3em;
  }
  
  #SCP-logo {
    width: 50%;
  }

}

/* Tablets and larger */
@media screen and (min-width: 768px) {

  /* Login page */

  #login-form input {
    font-size: 1em;
    margin-bottom: 3px;
  }

  /* Welcome page */

  #welcome-div1 {
    width: 50%;
  }

  #reference-image {
    width: 40%;
    justify-content: flex-end;
  }

  /* column code taken directly from W3Schools */
  .column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #MalO-figure {
    width: 60%;
  }

  /* SCPs page */

  #note {
    text-align: center;
  }

  /* Breaches page */

  /* Secret page */

  #SCP-info-secret {
    font-size: 1em;
    width: 90%;
    height: auto;
  }

  #declaration {
    font-size: 0.9em;
  }

  #killswitch-text {
    width: 50%;
    align-self: center;
  }

  #killswitch-text2 {
    width: 50%;
    align-self: center;
  }

  /* Congrats page */

  #id {
    width: 50%;
    height: auto;
  }

  /* 404 page */


  footer p {
    font-size: 0.8em;
  }

}

/* Laptops and desktop screens */
@media screen and (min-width: 992px) {

  #login-form {
    font-size: 1.1em;
  }

  /* Welcome page */
  
  #MalO-figure {
    width: 40%;
  }

  /* SCPs page */

  .SCP-info.column2 {
    float: left;
    width: 48%;
  }

  .SCP-info {
    font-size: 1em;
  }

  .SCP-info p {
    width: 90%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsibilitiess page */

  #help-form {
    top: 40%;
    right: 40%;
    font-size: 1.8em;
  }

  /* Breaches page */

  .threats {
    margin-left: 0%;
  }

  .information.column2 {
    float: left;
    width: 33%;
  }

  .threats.column2 {
    float: left;
    width: 33%;
  }

  #captcha-image {
    width: 70%;
  }

  #captcha {
    width: 50%;
    height: auto;
    margin-left: 25%;
  }

  /* Secret page */

  #SCP-info-secret {
    width: 70%;
  }

  /* Congrats page */

  #id {
    width: 40%;

  }

  /* 404 page */


  footer p {
    font-size: 0.9em;
  }
}

/* Large screens */
@media screen and (min-width: 1200px) {
  #id {
    width: 30%;
  }
}